.rs-footer__wrapper {
  border-top: 1px solid #b7b7b7;
  padding-top: 60px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 991.98px) {
  .rs-footer__wrapper {
    padding: 30px 0px 83px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__wrapper > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .rs-footer__wrapper > .rs-footer__logo {
    display: none;
  }
}
.rs-footer__logo {
  width: 100%;
  max-width: 170px;
}
.rs-footer__logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.rs-footer__logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 991.98px) {
  .rs-footer__menu {
    padding-top: 23px;
    padding-right: 30px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__spollers {
    max-width: 642px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers {
    margin-top: 30px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__spollers_item {
    max-width: 255px;
  }
  .rs-footer__spollers_item:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.rs-footer__spollers_title {
  font-family: "Suisse Int'l", sans-serif;
  font-weight: 450;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}
@media (max-width: 1439.98px) {
  .rs-footer__spollers_title {
    margin-bottom: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_title {
    margin-bottom: 10px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__spollers_body nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__spollers_body ul:not(:last-child) {
    margin-right: 100px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-footer__spollers_body ul:not(:last-child) {
    margin-right: 50px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_body ul:not(:last-child) {
    margin-bottom: 12px;
  }
}
.rs-footer__spollers_body ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0.03em;
}
@media (max-width: 991.98px) {
  .rs-footer__spollers_body ul li {
    font-size: 13px;
  }
}
.rs-footer__spollers_body ul li:not(:last-child) {
  margin-bottom: 12px;
}
.rs-footer__spollers_body > ul > li > a {
  position: relative;
}
.rs-footer__spollers_body > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-footer__spollers_body > ul > li > a:hover::after {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__block {
    border-left: 1px solid #b7b7b7;
    position: relative;
  }
}
.rs-footer__social {
  max-width: 625px;
}
@media (min-width: 991.98px) {
  .rs-footer__social {
    padding-bottom: 61px;
    padding-left: 93px;
    margin-top: 24px;
    border-bottom: 1px solid #b7b7b7;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-footer__social {
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__social {
    margin-top: 30px;
    max-width: 215px;
  }
}
.rs-footer__social h6 {
  font-family: "Suisse Int'l", sans-serif;
  font-weight: 450;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: left;
  width: 100%;
}
@media (max-width: 1439.98px) {
  .rs-footer__social h6 {
    margin-bottom: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__social h6 {
    margin-bottom: 10px;
  }
}
.rs-footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12.5px;
}
@media (max-width: 1439.98px) {
  .rs-footer__social ul {
    margin: -10px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__social ul {
    margin: -7.5px;
  }
}
.rs-footer__social ul li {
  padding: 12.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1439.98px) {
  .rs-footer__social ul li {
    padding: 10px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__social ul li {
    padding: 7.5px;
  }
}
.rs-footer__social ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42px;
          flex: 0 0 42px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-footer__social ul li a:hover {
    background-color: black;
  }
  .rs-footer__social ul li a:hover img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
.rs-footer__social ul li a img {
  -webkit-transition: -webkit-filter 0.3s ease 0s;
  transition: -webkit-filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
}
.rs-footer__bottom {
  max-width: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 991.98px) {
  .rs-footer__bottom {
    padding: 44px 21px 43px 99px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-footer__bottom {
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__bottom .rs-footer__logo {
    display: none;
  }
}
.rs-footer__copyright {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  padding-bottom: 5px;
}
@media (max-width: 991.98px) {
  .rs-footer__copyright {
    padding-bottom: 0px;
    margin-left: 0px;
    margin-top: 30px;
  }
}
.rs-footer__back {
  position: absolute;
  top: -3px;
  right: -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (max-width: 991.98px) {
  .rs-footer__back {
    display: none;
  }
}
.rs-footer__back span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  max-height: 103px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #000;
}
.rs-footer__back svg {
  margin-bottom: 5px;
}