.rs-slider-block {
	// .rs-slider-block__container
	&__container {
	}

	// .rs-slider-block__slider
	&__slider {
		@media (max-width: 767.98px) {
			overflow: visible;
		}
	}

	// .rs-slider-block__swiper
	&__swiper {
	}

	// .rs-slider-block__slide
	&__slide {
		position: relative;

		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -55px;
				height: 100%;
				width: 1px;
				background-color: #f3f3f3;
			}
		}
	}
}
