section {
	position: relative;
	margin: 94px 0px;
	overflow: hidden;

	@media (max-width: 1439.98px) {
		margin: 60px 0px;
	}

	@media (max-width: 1169.98px) {
		margin: 45px 0px;
	}

	@media (max-width: 991.98px) {
		margin: 33px 0px;
	}
}

// Text ========================================================================================================================================================

// Button ========================================================================================================================================================
.split-text {
	.split-text-wrapper {
		overflow: hidden;
		position: relative;
		display: inline-flex;
		cursor: pointer;

		.split-text-body {
			display: flex;
			position: relative;
			z-index: 10;
			transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
			transform: translateY(110%);

			span {
				&.split-text-copy {
					position: absolute;
					bottom: 110%;
					left: 0;
					white-space: nowrap;
					will-change: transform;
				}
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.split-text-body {
				transform: translateY(0);
			}
		}
	}
}

.rs-link {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 10;
	transform: translate3d(0px, 0%, 0px);
	transition:
		background-color 0.2s linear 0.6s,
		color 0.3s ease 0s;
	font-weight: 400;
	font-size: 16px;
	color: #80766f;

	@media (max-width: 1439.98px) {
		font-size: 14px;
	}

	@media (max-width: 991.98px) {
		font-size: 13px;
	}
}

.animated-arrow {
	display: inline-block;
	position: relative;
	transition: all 0.3s ease 0s;

	.the-arrow {
		width: 1px;
		transition: all 0.2s;

		&.-left {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);

			> .shaft {
				width: 0;
				background-color: #80766f;

				&:before,
				&:after {
					width: 0;
					background-color: #80766f;
					border-radius: 1px;
				}

				&:before {
					transform: rotate(0);
				}

				&:after {
					transform: rotate(0);
				}
			}
		}

		&.-right {
			position: absolute;
			top: 50%;
			left: 0;
			transition-delay: 0.1s;
			background-color: #80766f;
			border-radius: 1px;

			> .shaft {
				border-radius: 1px;
				transition-delay: 0.2s;

				&:before,
				&:after {
					position: absolute;
					top: 0;
					right: 0;
					width: 8px;
					transition-delay: 0.3s;
					transition: all 0.5s;
					border-radius: 1px;
				}

				&:before {
					transform: rotate(40deg);
				}

				&:after {
					transform: rotate(-40deg);
				}
			}
		}

		> .shaft {
			background-color: #80766f;
			display: block;
			height: 1px;
			position: relative;
			transition: all 0.2s;
			transition-delay: 0;
			will-change: transform;

			&:before,
			&:after {
				background-color: #80766f;
				content: "";
				display: block;
				height: 1px;
				position: absolute;
				top: 0px;
				right: 0px;
				transition: all 0.2s;
				transition-delay: 0;
			}

			&:before {
				transform-origin: top right;
			}

			&:after {
				transform-origin: bottom right;
			}
		}
	}

	&:hover {
		color: #000;

		> .the-arrow.-left {
			> .shaft {
				width: 20px;
				transition-delay: 0.1s;
				background-color: #000;
				border-radius: 1px;

				&:before,
				&:after {
					width: 8px;
					transition-delay: 0.1s;
					background-color: #000;
				}

				&:before {
					transform: rotate(40deg);
				}

				&:after {
					transform: rotate(-40deg);
				}
			}
		}

		> .main {
			transform: translateX(30px);

			> .the-arrow.-right {
				width: 0;
				> .shaft {
					transition-delay: 0;

					&:before,
					&:after {
						width: 0;
						transition-delay: 0;
						transition: all 0.1s;
					}

					&:before {
						transform: rotate(0);
					}

					&:after {
						transform: rotate(0);
					}
				}
			}
		}
	}

	> .main {
		display: flex;
		align-items: center;
		transition: all 0.2s;

		> .text {
			margin: 0 16px 0 0;
			line-height: 1;
		}

		> .the-arrow {
			position: relative;
		}
	}
}

.rs-btn {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 10;
	transform: translate3d(0px, 0%, 0px);
	transition:
		background-color 0.2s linear 0.6s,
		color 0.3s ease 0s;
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
	padding: 12px 11.75px;
	font-weight: 400;
	font-size: 14px;

	&:before,
	&::after {
		content: "";
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: -1px;
		right: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		transition: all 0.6s ease;
	}

	&:before {
		background-color: #fff;
		border-radius: 50% 50% 0 0;
		transform: translateY(100%) scaleY(0.5);
	}

	&:after {
		background-color: #000;
		border-radius: 0;
		transform: translateY(0) scaleY(1);
	}

	&._btn-primary {
		color: #fff;
		background-color: #000;

		&:before {
			background-color: #fff;
		}

		&:after {
			background-color: #000;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: #fff;
				color: #000;
			}
		}
	}

	&._btn-primary-border {
		color: #000;
		background-color: #fff;

		&:before {
			background-color: #000;
		}

		&:after {
			background-color: #fff;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			&:after {
				border-radius: 0 0 50% 50%;
				transform: translateY(-100%) scaleY(0.5);
				transition-delay: 0;
			}

			&:before {
				border-radius: 0;
				transform: translateY(0) scaleY(1);
				transition-delay: 0;
			}
		}
	}
}

.form {
	// .form__wrapper
	&__wrapper {
	}

	// .form__block
	&__block {
	}

	// .form__line
	&__line {
		width: 100%;
		position: relative;
		margin-bottom: 16px;

		&._form-error {
		}

		&._form-right {
		}

		&._form-valid {
		}

		&._form-focus {
		}
	}

	&__error {
		color: #eb1320;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.39px;
		margin-top: 5px;
		margin-left: 20px;

		@media (max-width: 1439.98px) {
			font-size: 14px;
		}

		@media (max-width: 991.98px) {
			font-size: 12px;
		}
	}

	&__footer {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: 16px;

		@media (max-width: 991.98px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}

	&__agreement {
		font-weight: 400;
		font-size: 12px;
		// line-height: 14px;
		line-height: 120%;
		max-width: 393px;

		@media (max-width: 991.98px) {
			max-width: 100%;
			margin-bottom: 8px;
		}
	}

	// .form__button
	&__button {
		@media (max-width: 991.98px) {
			width: 100%;
		}
		.rs-btn {
			@media (max-width: 991.98px) {
				width: 100%;
			}
		}
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;

	&::placeholder {
		color: #fff;
	}

	&._form-focus {
	}

	&._form-error {
		border-color: #eb1320;
	}

	// &._form-right {
	// 	border-color: #d2e3f0;
	// 	background-color: #e6fcf5;
	// }
}

textarea.rs-input {
	resize: vertical;
	min-height: 122px;
	border-radius: 15px;
}

// Block  ========================================================================================================================================================
.section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 27px;
	margin-bottom: 50px;
	border-bottom: 1px solid #b7b7b7;

	@media (max-width: 1439.98px) {
		padding-bottom: 25px;
		margin-bottom: 40px;
	}

	@media (max-width: 1169.98px) {
		padding-bottom: 20px;
		margin-bottom: 25px;
	}

	@media (max-width: 991.98px) {
		padding-bottom: 8px;
		margin-bottom: 10px;
	}

	// .section-header__title
	&__title {
		h1,
		h2 {
			font-family: "Suisse Int'l", sans-serif;
			font-weight: 450;
			font-size: 22px;
			// line-height: 24px;
			line-height: 110%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #1a1a1a;

			@media (max-width: 1439.98px) {
				font-size: 18px;
			}

			@media (max-width: 1169.98px) {
				font-size: 16px;
			}

			@media (max-width: 991.98px) {
				font-size: 13px;
			}
		}
	}

	// .section-header__link
	&__link {
	}
}

.product {
	// .product__item
	&__item {
	}

	// .product__picture
	&__picture {
		padding-bottom: 100%;
		position: relative;
		border: 1px solid #d4d4d4;
		overflow: hidden;
	}

	// .product__img
	&__img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .product__timer
	&__timer {
		position: absolute;
		top: 30px;
		right: 35px;
		padding: 10px 15px;
		backdrop-filter: blur(5px);
		background: rgba(0, 0, 0, 0.35);
		color: #fff;
		text-align: center;

		@media (max-width: 1439.98px) {
			top: 20px;
			right: 20px;
		}

		@media (max-width: 1169.98px) {
			top: 15px;
			right: 15px;
		}

		@media (max-width: 991.98px) {
			top: 9px;
			right: 7px;
		}

		& > h6 {
			font-weight: 500;
			font-size: 13px;
			letter-spacing: 0.03em;
			margin-bottom: 7px;

			@media (max-width: 1439.98px) {
				margin-bottom: 3.5px;
			}
		}

		.timer {
			&__items {
				display: flex;
				justify-content: center;
			}

			&__item {
				position: relative;
				min-width: 30px;
				padding-bottom: 11px;
				text-align: center;
				font-weight: 600;
				font-size: 16px;
				letter-spacing: 0.03em;

				@media (max-width: 1439.98px) {
					font-size: 13px;
				}

				&::before {
					content: attr(data-title);
					display: block;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					font-weight: 400;
					font-size: 10px;
				}

				&:not(:last-child) {
					margin-right: 25px;

					@media (max-width: 1439.98px) {
						margin-right: 12px;
					}

					&::after {
						content: ":";
						position: absolute;
						right: -13px;
						top: -2px;
						font-size: 18px;
						animation: opacityTimer 2s linear infinite;

						@media (max-width: 1439.98px) {
							font-size: 8px;
							right: -6px;
							top: 3px;
						}
					}

					@keyframes opacityTimer {
						0% {
							opacity: 1;
						}

						50% {
							opacity: 0;
						}

						100% {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	// .product__desc
	&__desc {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		flex-grow: 1;

		@media (max-width: 1439.98px) {
			margin-top: 11px;
		}

		// .product__desc_body
		&_body {
			h6 {
				font-weight: 400;
				font-size: 16px;
				letter-spacing: 0.03em;
				color: #858585;

				@media (max-width: 1439.98px) {
					font-size: 13px;
				}
			}

			h4 {
				font-family: "Suisse Intl", sans-serif;
				font-weight: 400;
				font-size: 22px;
				// line-height: 24px;
				line-height: 110%;
				margin-top: 7px;

				@media (max-width: 1439.98px) {
					margin-top: 7px;
					font-size: 16px;
				}
			}
		}

		&_table {
			width: 100%;
			margin-top: 23px;

			@media (max-width: 991.98px) {
				margin-top: 10px;
			}

			table {
				width: 100%;
				// table-layout: fixed;
				border-spacing: 0px;
				border-collapse: 0px;

				tbody {
					tr {
						td {
							vertical-align: top;
							padding: 22px 0px 9px;
							border-bottom: 1px solid #e8e8e8;
							font-weight: 400;
							font-size: 14px;
							letter-spacing: 0.03em;
							color: #858585;

							@media (max-width: 1439.98px) {
								font-size: 13px;
								padding: 11px 0px 9.5px;
							}

							&:first-child {
								max-width: 150px;
							}

							&:last-child {
								font-weight: 400;
								font-size: 16px;
								text-align: right;
								color: #000;

								@media (max-width: 1439.98px) {
									font-size: 13px;
								}
							}
						}

						&:last-child {
							td {
								&:last-child {
									font-weight: 600;
									font-size: 22px;
									letter-spacing: 0px;

									@media (max-width: 1439.98px) {
										font-size: 18px;
									}
								}
							}
						}
					}
				}
			}
		}

		// .product__desc_btn
		&_btn {
			margin-top: 20px;
			width: 100%;

			@media (max-width: 1439.98px) {
				margin-top: 10px;
			}

			.rs-btn {
				width: 100%;
				padding-top: 16px;
				padding-bottom: 16px;

				@media (max-width: 1439.98px) {
					padding-top: 18px;
					padding-bottom: 18px;
				}
			}
		}
	}
}

.product-catalog {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	@media (any-hover: hover) {
		&:hover {
			.product-catalog__img {
				&::after {
					opacity: 1;
				}
			}
		}
	}

	// .product-catalog__link
	&__link {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	// .product-catalog__img
	&__img {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;

		.rs-auction & {
			padding-bottom: 82.4%;
			border: 1px solid #d4d4d4;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.15);
			opacity: 0;
			z-index: 1;
			transition: opacity 0.3s ease 0s;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			.rs-auction & {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	// .product-catalog__desc
	&__desc {
		margin-top: 12px;

		@media (max-width: 991.98px) {
			margin-top: 10px;
		}

		// .product-catalog__desc_part
		&_part {
			margin-bottom: 12px;
			font-weight: 400;

			@media (max-width: 991.98px) {
				margin-bottom: 8px;
			}
		}

		&-head,
		&-footer {
			line-height: 140%;
			font-size: 14px;
			// line-height: 20px;

			@media (max-width: 991.98px) {
				font-size: 13px;
			}
		}

		&-head {
			color: #858585;
			margin-bottom: 4px;

			@media (max-width: 991.98px) {
				margin-bottom: 0px;
			}
		}

		&-body {
			font-size: 18px;
			// line-height: 27px;
			line-height: 150%;

			@media (max-width: 1439.98px) {
				font-size: 16px;
			}

			@media (max-width: 991.98px) {
				font-size: 14px;
			}
		}

		&-footer {
			margin-top: 4px;

			@media (max-width: 991.98px) {
				margin-top: 0px;
			}
		}
	}

	// .product-catalog__view
	&__view {
		padding: 2px 8px;
		display: inline-flex;
		align-items: center;
		border: 1px solid #d4d4d4;
		border-radius: 28px;
		margin-bottom: 12px;
		font-weight: 400;
		font-size: 14px;
		// line-height: 20px;
		line-height: 140%;
		color: #4e4e4e;

		svg {
			margin-right: 8px;
		}
	}

	// .product-catalog__price
	&__price {
		font-weight: 600;
		font-size: 22px;
		margin-top: 12px;

		@media (max-width: 991.98px) {
			margin-top: 8px;
			font-size: 20px;
		}
	}

	// .product-catalog__bet
	&__bet {
		margin-top: 12px;
	}

	// .product-catalog__bet-last
	&__bet-last {
		font-weight: 400;
		font-size: 18px;
		color: #f00;

		@media (max-width: 991.98px) {
			font-size: 16px;
		}
	}

	// .product-catalog__bet-time
	&__bet-time {
		margin-top: 4px;
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 14px;
		// line-height: 20px;
		line-height: 140%;

		@media (max-width: 991.98px) {
			font-size: 13px;
		}

		svg {
			margin-right: 4px;
		}

		.timer {
			margin-left: 4px;

			&__items {
				display: flex;
				justify-content: center;
			}

			&__item {
				display: flex;
				align-items: center;

				&:not(:last-child) {
					margin-right: 4px;
				}

				&::after {
					content: attr(data-title);
					display: block;
					margin-left: 4px;
				}
			}
		}
	}
}
