.pagging {
	display: flex;
	justify-content: center;
	margin-top: 80px;

	@media (max-width: 1439.98px) {
		margin-top: 50px;
	}

	@media (max-width: 991.98px) {
		margin-top: 30px;
	}

	// .pagging__arrow

	&__arrow {
		display: flex;
		align-items: center;
	}

	// .pagging__prev
	&__prev {
		margin-right: 32px;

		@media (max-width: 1439.98px) {
			margin-right: 25px;
		}

		@media (max-width: 1169.98px) {
			margin-right: 20px;
		}

		@media (max-width: 991.98px) {
			margin-right: 15px;
		}
	}

	// .pagging__start
	&__start {
		margin-right: 32px;

		@media (max-width: 1439.98px) {
			margin-right: 25px;
		}

		@media (max-width: 1169.98px) {
			margin-right: 20px;
		}

		@media (max-width: 991.98px) {
			margin-right: 15px;
		}
	}

	// .pagging__next
	&__next {
		margin-left: 32px;

		@media (max-width: 1439.98px) {
			margin-left: 25px;
		}

		@media (max-width: 1169.98px) {
			margin-left: 20px;
		}

		@media (max-width: 991.98px) {
			margin-left: 15px;
		}
	}

	// .pagging__end
	&__end {
		margin-left: 32px;

		@media (max-width: 1439.98px) {
			margin-left: 25px;
		}

		@media (max-width: 1169.98px) {
			margin-left: 20px;
		}

		@media (max-width: 991.98px) {
			margin-left: 15px;
		}
	}

	// .pagging__list
	&__list {
		display: flex;
		align-items: center;
	}

	// .pagging__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		padding: 8px;
		width: 43px;
		height: 43px;
		font-weight: 400;
		font-size: 19px;
		line-height: 138%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #000;
		background-color: transparent;
		transition: all 0.3s ease 0s;

		@media (max-width: 1439.98px) {
			font-size: 16px;
			width: 35px;
			height: 35px;
		}

		@media (max-width: 1169.98px) {
			font-size: 13px;
			width: 32px;
			height: 32px;
		}

		&._active {
			background-color: #000;
			color: #fff;
		}
	}

	// .pagging__more
	&__more {
		margin: 0px 40px;

		@media (max-width: 1169.98px) {
			margin: 0px 20px;
		}
	}
}
